footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    height: 8rem;
    background-color: var(--primary-color);
    text-align: center;
    color: #fff;
    align-items: center;    
    justify-content: center;
    font-size: 1.5rem;
    padding: 0 7rem;
}

footer img {
    width: 30%;
}


.footer_logo {
    display: flex;
    justify-content: center;
}

.footer_wpp {
     display: flex;
     justify-content: start;
}

.footer_email {
    display: flex;
    justify-content: end;
}

footer div p:first-child {
    margin-right: 0.5rem;
}

@media (max-width: 440px) {
    footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 35%;
        padding: 1rem 1rem;
        gap: 0.5rem;
    }

    .footer_logo {
        display: none;
    }

    .footer_wpp,
    .footer_email {
        font-size: 1.2rem;
        justify-content: center;
    }
}

