footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    height: 8rem;
    background-color: var(--primary-color);
    text-align: center;
    color: #fff;
    align-items: center;    
    justify-content: center;
    font-size: 1.5rem;
    padding: 0 7rem;
}

footer img {
    width: 30%;
}


.footer_logo {
    display: flex;
    justify-content: center;
}

.footer_wpp {
     display: flex;
     justify-content: start;
}

.footer_email {
    display: flex;
    justify-content: end;
}

footer div p:first-child {
    margin-right: 0.5rem;
}


